{% extends layout ?: 'AppBundle:Payum:layout.html.twig' %}

{% block payum_javascripts %}
    {{ parent() }}

    <script src="https://js.stripe.com/v3/"></script>

    <script type="text/javascript">
        var stripe = Stripe('{{ publishable_key }}');
        stripe.redirectToCheckout({
              sessionId: '{{ session_id }}'
        }).then(function (result) {
              // If `redirectToCheckout` fails due to a browser or network
              // error, display the localized error message to your customer
              // using `result.error.message`.
        });
    </script>
{% endblock %}
